
listen-address=192.168.222.1
bind-interfaces
strict-order
local=/test.myocp4.com/
domain=test.myocp4.com
expand-hosts
except-interface=lo
interface=baremetal
dhcp-range=192.168.222.20,192.168.222.100
dhcp-no-override
dhcp-authoritative
dhcp-lease-max=41
dhcp-host=%%master-mac%%,192.168.222.101,master

dhcp-option=42,0.0.0.0

enable-tftp
tftp-root=/var/lib/tftpboot
dhcp-vendorclass=BIOS,PXEClient:Arch:00000
dhcp-boot=tag:BIOS,lpxelinux.0
dhcp-boot=tag:!BIOS,shimx64.efi
address=/api.test.myocp4.com/192.168.222.101
address=/api-int.test.myocp4.com/192.168.222.101
address=/etcd-0.test.myocp4.com/192.168.222.101
address=/.apps.test.myocp4.com/192.168.222.101
srv-host=_etcd-server-ssl._tcp.test.myocp4.com,etcd-0.test.myocp4.com.,2380,0,10
