apiVersion: v1
baseDomain: myocp4.com
compute:
- hyperthreading: Enabled
  name: worker
  platform: {}
  replicas: 0 
controlPlane:
  hyperthreading: Disabled
  name: master
  platform: {}
  replicas: %%master-replicas%% 
metadata:
  creationTimestamp: null
  name: test
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  machineCIDR: 10.0.0.0/16
  networkType: %%networkType%% 
  serviceNetwork:
  - 172.30.0.0/16
platform:
  none: {}
publish: External
pullSecret: %%pull-secret%%
sshKey: %%ssh-rsa%%
 
