# use released(or candidate) openshift installer binary
#build: ga | dev
build: ga
# openshift installer version; for ga, find it here: https://mirror.openshift.com/pub/openshift-v4/clients/ocp/
#			      for dev, find it here: https://mirror.openshift.com/pub/openshift-v4/clients/ocp-dev-preview/
#version: "4.4.3"
version: "4.11.13"

# whether or not update the rhcos image; the rhos version does not need to match the installer, e.g. 4.4 rhcos may work with 4.5 installer
update_rhcos: true
# rhcos version
rhcos_major_rel: "4.11"
rhcos_minor_rel: "4.11.9"
live_iso: rhcos-live.x86_64.iso

# master struction has member: type(virtual|baremetal), mac, ipmi_user, ipmi_password
# virtual host does not need to have ipmi info
# baremetal host: very often disable_int list is necessary to disable other dhcp interface and only keep the baremetal interface for bootp
master:
- type: 'virtual'
  mac: '52:54:00:f9:8e:20'
- type: 'virtual'
  mac: '52:54:00:f9:8e:21'
- type: 'virtual'
  mac: '52:54:00:f9:8e:22'

worker:
- type: 'baremetal'
  mac: '30:d0:42:df:cf:5c'
  ipmi_addr: '192.168.39.154'
  ipmi_user: 
  ipmi_password:
  disable_int: {}
  uefi: "true"

# worker_on_master: can schedule work load on master node
worker_on_master: true 

# disable these on the installation host
# recommend: true
disable_firewalld: true
disable_selinux: true
reset_iptables: true

# This is the baremetal interface on the installation host that's used to service the bootp
baremetal_phy_int: eno8303np0
# for Alias lab, change p7p1 to em1
baremetal_vlan: 10 

# networkType: OVNKubernetes | OpenShiftSDN | Calico
networkType: OVNKubernetes

# yum package install, iptable setup etc are considered as first time only setup; it is safe to use false
# recommend: false
skip_first_time_only_setup: true

# if using container to provide haproxy/httpd/dnsmasq service, what run time to use: podman or docker
container_runtime: podman

# run haproxy/httpd/dnsmasq service in the installtion host or container. The host level service is verified, there may be problem with container
# recommend: false
services_in_container: false

ntp_server: 192.168.254.10
dns_forwarder: 8.8.8.8

#http_proxy: "http://10.19.110.23:3128"
#no_proxy: "10.16.231.128"

pull_secret: 'download from https://console.redhat.com/openshift/install/pull-secret'

