#!ipxe

dhcp ${first_ipxe_interface} || dhcp

# https://github.com/openshift/openshift-docs/blob/main/modules/installation-user-infra-machines-pxe.adoc
initrd --name main http://192.168.222.1:${http_port}/rhcos-live.x86_64-initrd.img
initrd --name ign http://192.168.222.1:${http_port}/ignition.img

kernel http://192.168.222.1:${http_port}/rhcos-live.x86_64-vmlinuz initrd=main initrd=ign coreos.live.rootfs_url=http://192.168.222.1:${http_port}/rhcos-live.x86_64-rootfs.img ignition.firstboot=1 ignition.platform.id=metal console=ttyS0 console=tty0
boot || shell
