
listen-address=192.168.222.1
bind-interfaces
strict-order
local=/${sno_name}.${base_domain}/
domain=${sno_name}.${base_domain}
expand-hosts
except-interface=lo
except-interface=${default_route_interface}
interface=baremetal
server=8.8.8.8
dhcp-range=${dhcp_low},${dhcp_high}
dhcp-no-override
dhcp-authoritative
dhcp-lease-max=41
# anchor_host_entry
dhcp-host=${pxe_mac},${sno_ip},${sno_name}

dhcp-option=42,0.0.0.0
enable-tftp
tftp-root=/var/lib/tftpboot

dhcp-vendorclass=BIOS,PXEClient:Arch:00000
dhcp-vendorclass=efi64,PXEClient:Arch:00007
dhcp-match=set:ipxe,175 # iPXE sends a 175 option.
dhcp-boot=tag:BIOS,undionly.kpxe
dhcp-boot=tag:efi64,ipxe.efi
dhcp-boot=tag:ipxe,http://192.168.222.1:${http_port}/bootstrap.ipxe

# anchor_service_entry
address=/api.${sno_name}.${base_domain}/${sno_ip}
address=/api-int.${sno_name}.${base_domain}/${sno_ip}
address=/.apps.${sno_name}.${base_domain}/${sno_ip}
