${sno_ip}  ${sno_name}
${sno_ip}  api.${sno_name}.${base_domain}
${sno_ip}  oauth-openshift.apps.${sno_name}.${base_domain}
${sno_ip}  console-openshift-console.apps.${sno_name}.${base_domain}
${sno_ip}  grafana-openshift-monitoring.apps.${sno_name}.${base_domain}
${sno_ip}  thanos-querier-openshift-monitoring.apps.${sno_name}.${base_domain}
${sno_ip}  prometheus-k8s-openshift-monitoring.apps.${sno_name}.${base_domain}
${sno_ip}  alertmanager-main-openshift-monitoring.apps.${sno_name}.${base_domain}
