${sno_ip}  ${sno_name}
${sno_ip}  api.test.myocp4.com
${sno_ip}  oauth-openshift.apps.test.myocp4.com
${sno_ip}  console-openshift-console.apps.test.myocp4.com
${sno_ip}  grafana-openshift-monitoring.apps.test.myocp4.com
${sno_ip}  thanos-querier-openshift-monitoring.apps.test.myocp4.com
${sno_ip}  prometheus-k8s-openshift-monitoring.apps.test.myocp4.com
${sno_ip}  alertmanager-main-openshift-monitoring.apps.test.myocp4.com
