apiVersion: v1
baseDomain: myocp4.com
compute:
- hyperthreading: Enabled
  name: worker
  platform: {}
  replicas: 0 
controlPlane:
  hyperthreading: Enabled
  name: master
  platform: {}
  replicas: 1
metadata:
  creationTimestamp: null
  name: test
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  machineCIDR: 10.0.0.0/16
  networkType: ${network_type}
  serviceNetwork:
  - 172.30.0.0/16
platform:
  none: {}
bootstrapInPlace:
  installationDisk: ${disk}
  #installationDisk: /dev/disk/by-id/nvme-Dell_Ent_NVMe_P5600_MU_U.2_1.6TB_PHAB208300AC1P9SGN
  #installationDisk: /dev/disk/by-id/ata-MZ7L3480HBLTAD3_S6M3NE0T219050
publish: External
pullSecret: $pull_secret
sshKey: $pub_key_content
 
 
